@-moz-document regexp('https://hangouts\\.google\\.com/(?!webchat/frame).*') {
/* Notes: Only URL dots must be escaped. This is how to ^ deny site subsections,
   per Stylish wiki:
https://github.com/stylish-userstyles/stylish/wiki/Applying-styles-to-specific-sites
   */
@media only screen and (max-width:320px) { HTML, BODY {width:320px;}  DIV.g-Ue-Ja-t {max-width:320px;}  DIV.Cl {height:375px !important; width:255px !important; right:3px !important;}  DIV.Ih {width:100%;} }

/* DIV.g-Ue-Ja-t : most of it; was: 628px
   DIV.Cl - chat window height
   DIV.Ih - chat window contents. Used overflow-x:auto, but it doesn't quite seem to work. 100% was before, but not necessarily original.
   Use important, because there are many rules applied to element via JavaScript. */

/* 320. top block, w. login stuff */
DIV.gb_4f {min-width:500px !important;}
/* stopped at min-width:682px */

/* Unknown location, whole viewport, causes a horizontal scrollbar; affects min-width and min-height. */
DIV.g-Ue-Ja-t {min-width:310px; min-height:320px;}

DIV.g-Ue-ad {min-height:320px;}

/* Hangouts logo height adjustment: */
DIV#gba, DIV.gb_df, DIV.gb_df > .gb_R {height:24px;}
DIV.gb_df > .gb_R {line-height:22px;}
   
/* Contacts */
DIV.g-Ue-kc {width:75%; max-width:400px;}
/* original width:400px; 81%; */

/* CHAT WINDOW */
DIV.Cl {right:0px !important;}

/* CHAT WINDOW: these are inside an iframe, which should be excluded now (26.04.2017). */
/* chat window title (name) widths to show controls */
/* DIV.xB {width:55%;} */

/* This tests to see, if stuff works. Comment in, when not needed. */
/* DIV.xB {border:solid 1px yellow;} */

/* chat window text */
/* DIV.tk {width:86%;} */


/* background image */
DIV.kFx1Ae-xdwExf-eb-m IMG {display:none;}
   
/* background image author (26.04.2017) */
GM_addStyle("HTML.g-Ue .g-Ue-ad .g-Qx-r4m2rf-wZVHld {display:none;}")

/* right block */
DIV.g-Ue-v0h5Oe {display:none; top:70px; left:5px; width:auto; min-width:unset; min-width:64px; max-width:unset; min-height:160px; z-index:-1;}

/* right block rings (all) */
DIV.g-Ue-v0h5Oe UL {margin-top:0px; margin-bottom:0px; white-space:normal;}

/* right block rings (individual) */
DIV.g-Ue-v0h5Oe LI {margin-top:16px; margin-right:24px;}

/* right block rings */
DIV.g-Ue-b {margin-bottom:5px;}

}
