@-moz-document regexp('https://hangouts\\.google\\.com/(?!webchat/frame).*') {
/* Notes: Only URL dots must be escaped. This is how to ^ deny site subsections,
   per Stylish wiki:
https://github.com/stylish-userstyles/stylish/wiki/Applying-styles-to-specific-sites
*/

@media only screen and (max-width:320px) { HTML, BODY {width:320px;}  DIV.g-Ue-Ja-t {max-width:320px;}  DIV.Cl {max-width:255px !important;}  DIV.Ih {width:100%;} }
/* DIV.g-Ue-Ja-t : most of it; was: 628px
 • DIV.Cl : chat window. height:375px !important; width:255px !important;
 • DIV.Ih : chat window contents.
   Use important, because there are many rules applied to element via JavaScript. */

/* 320. top block, w. login stuff */
DIV.gb_4f {min-width:500px !important;}
/* stopped at min-width:682px */

/* CLASSIC LOGIN STRIP, ACCOUNT LINK */
DIV.g-Ue-OkO9ve {margin-left:0px;}
DIV#gbg {background-color:#2d2d2d; border-left:solid 1px Gray; padding-right:0px;}
   
/* Unknown location, whole viewport, causes a horizontal scrollbar; affects min-width and min-height. Contains left-side menu. */
DIV.g-Ue-Ja-t {min-width:310px; min-height:320px;}
DIV.bdXzDb {top:29px;}
/* ^ This has z-index at 102... */

/* Follows .g-Ue-Ja-t */
DIV.g-Ue-ad {min-height:320px;}

/* Hangouts logo height adjustment: */
DIV#gba, DIV.gb_df, DIV.gb_df > .gb_R {height:24px;}
DIV.gb_df > .gb_R {line-height:22px;}
   
/* CONTACTS */
DIV.g-Ue-kc {width:75%; max-width:400px;}
/* original width:400px; 81%; */

/* CHAT WINDOW */
/* Below rule:
• right: can safely be set to 0px, since I got the hang wrt bottom stuff. For the most part, and for the first four chat windows only.
Because:
• On a small screen, there's a limit to how much the height can be. 
• If there can be more chat windows than |primary| colours in the rainbow, then the device is fast enough to handle such loads. */
DIV.Cl {right:0px !important; border-style:solid; border-width:2px;}
   
/* One can use the oauth element, if the apiproxy element is not present.
Following that, the apiproxy IFRAME is usually present _and_ hidden, but works :). */

/* CHAT WINDOW 1: PURPLE */
IFRAME[id^='apiproxy'] + DIV.Cl, IFRAME[id^='oauth2relay'] + DIV.Cl {border-color:#6A5ACD;}
/* is: #6A5ACD purple; Should work. */

/* CHAT WINDOW 2: BLUE */
IFRAME[id^='apiproxy'] + DIV.Cl + DIV.Cl, IFRAME[id^='oauth2relay'] + DIV.Cl + DIV.Cl {border-color:#0077ee;}

IFRAME[id^='apiproxy'] + DIV.Cl + DIV.Cl[style*='36px'], IFRAME[id^='oauth2relay'] + DIV.Cl + DIV.Cl[style*='36px'] {bottom:40px !important;}

/* CHAT WINDOW 3: GREEN */
IFRAME[id^='apiproxy'] + DIV.Cl + DIV.Cl + DIV.Cl, IFRAME[id^='oauth2relay'] + DIV.Cl + DIV.Cl + DIV.Cl {border-color:#00db73;}

IFRAME[id^='apiproxy'] + DIV.Cl + DIV.Cl + DIV.Cl[style*='36px'], IFRAME[id^='oauth2relay'] + DIV.Cl + DIV.Cl + DIV.Cl[style*='36px'] {bottom:80px !important;}

/* CHAT WINDOW 4: YELLOW */
IFRAME[id^='apiproxy'] + DIV.Cl + DIV.Cl + DIV.Cl + DIV.Cl, IFRAME[id^='oauth2relay'] + DIV.Cl + DIV.Cl + DIV.Cl + DIV.Cl {border-color:yellow;}

IFRAME[id^='apiproxy'] + DIV.Cl + DIV.Cl + DIV.Cl + DIV.Cl[style*='36px'], IFRAME[id^='oauth2relay'] + DIV.Cl + DIV.Cl + DIV.Cl + DIV.Cl[style*='36px'] {bottom:120px !important;}

/* CHAT WINDOW 5: ORANGE */
IFRAME[id^='apiproxy'] + DIV.Cl + DIV.Cl + DIV.Cl + DIV.Cl + DIV.Cl, IFRAME[id^='oauth2relay'] + DIV.Cl + DIV.Cl + DIV.Cl + DIV.Cl + DIV.Cl {border-color:orange;}

IFRAME[id^='apiproxy'] + DIV.Cl + DIV.Cl + DIV.Cl + DIV.Cl + DIV.Cl[style*='36px'], IFRAME[id^='oauth2relay'] + DIV.Cl + DIV.Cl + DIV.Cl + DIV.Cl + DIV.Cl[style*='36px'] {bottom:156px !important;}

/* CHAT WINDOW 6: RED */
IFRAME[id^='apiproxy'] + DIV.Cl + DIV.Cl + DIV.Cl + DIV.Cl + DIV.Cl + DIV.Cl, IFRAME[id^='oauth2relay'] + DIV.Cl + DIV.Cl + DIV.Cl + DIV.Cl + DIV.Cl + DIV.Cl {border-color:red;}
   
IFRAME[id^='apiproxy'] + DIV.Cl + DIV.Cl + DIV.Cl + DIV.Cl + DIV.Cl + DIV.Cl[style*='36px'], IFRAME[id^='oauth2relay'] + DIV.Cl + DIV.Cl + DIV.Cl + DIV.Cl + DIV.Cl + DIV.Cl[style*='36px'] {bottom:192px !important;}

/* DIV.Cl:first-child cannot be used, because it affects all divs in the containing block. But — the chat window DIV always has a preceding element :) */

/* pink for later ;) */
/* add 2+2px for top and bottom border during each following iteration. */

/* CHAT WINDOW: these are inside an IFRAME, which should be excluded now (26.04.2017). */

/* CHAT WINDOW TITLE (name) widths to show controls */
/* DIV.xB {width:55%;} */

/* CHAT WINDOW TITLE: Tests to see, if stuff works. Comment in, when not needed. */
/* DIV.xB {border:solid 1px yellow;} */

/* chat window text */
/* DIV.tk {width:86%;} */


/* background image */
DIV.kFx1Ae-xdwExf-eb-m IMG {display:none;}
   
/* background image author (26.04.2017) */
HTML.g-Ue .g-Ue-ad .g-Qx-r4m2rf-wZVHld {display:none;}

/* right block */
DIV.g-Ue-v0h5Oe {display:none; top:70px; left:5px; width:auto; min-width:unset; min-width:64px; max-width:unset; min-height:160px; z-index:-1;}

/* right block rings (all) */
DIV.g-Ue-v0h5Oe UL {margin-top:0px; margin-bottom:0px; white-space:normal;}

/* right block rings (individual) */
DIV.g-Ue-v0h5Oe LI {margin-top:16px; margin-right:24px;}

/* right block rings */
DIV.g-Ue-b {margin-bottom:5px;}

}

